@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Raleway";
  box-sizing: border-box;
}

:root {
  --dark-faded: rgba(100, 100, 100, .4);
  --darker-faded: rgba(50, 50, 50, .7);
  --grey-faded: rgba(200, 200, 200, .5);
  --white-faded: rgba(255, 255, 255, .5);
  --white-bg: rgba(255, 255, 255, .95);
}

body {
  min-height: 100vh;
  display: grid;
}

h1, h2, h3, p{
  vertical-align: center;
  text-align: center;
  padding: 1rem;
}


a {
  text-decoration: none;
	color: black;
}

iframe {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
}

.leftText {
  text-align: left;
}

.container img{
  width : 100%;
  max-width: 800px;
  height: auto;
}

.indexContainer {
  background-color: rgb(245, 245, 245);
}

.indexContainer:hover {
  background-color: rgb(200, 200, 200);
  opacity: .9;
}

.container {
  display: grid;
  align-items: center; 
  grid-gap: 10px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.doubleText {
  align-items: start; 
  grid-template-columns:1fr 1fr;
}

.rightText {
  grid-template-columns:minmax(200px, 800px) auto;
}

.leftText {
  grid-template-columns:auto minmax(200px, 800px);
}

.singleText {
  grid-template-columns:minmax(200px, 800px) minmax(200px, 1fr);
}

.containerCollage img {
  max-width: 100%;
  height: auto;
}

.containerSingle {
  max-width: 800px;
  grid-template-columns:auto;
}

.containerSingle img {
  margin: auto;
}

.containerSingle p{
  text-align: left;
}

.single img {
  max-width: 1200px;
}

.singleText p {
  text-align: left;
}

.lightbox-enabled:hover {
  opacity: .8;
  transform: scale(1.002);
  cursor: zoom-in;
}

.lightbox-container {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--white-bg);
  display: grid;
  place-items: center;
  padding: 1rem;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

.lightbox-container.active{
  opacity: 1;
  pointer-events: all;
}

.lightbox-image-wrapper {
  display: grid;
  place-items: center;
  max-width: 90vw;
  max-height: 90vh;
  position: relative;
  box-shadow: 3px 3px 10px var(--dark-faded);
}

.lightbox-btn {
  border-radius: 100%;
  background: var(--white-faded);
  display: grid;
  place-items: center;
  padding: .8 rem;
  color: var(--darker-faded);
  cursor: pointer;
  transition: all 30ms ease-in-out;
  position: absolute;
}

.lightbox-btn:focus {
  outline: none;
}

.lightbox-btn:inactive {
  opacity: 0;
  pointer-events: none;
}

.lightbox-img {
  width: 100%;
  object-fit: contain;
  cursor: zoom-out;
}

.left {
   left: 5px;
}

.right {
   right: 5px;
}

.left:hover, .left:focus, .right:hover, .right:focus {
  background: var(--dark-faded);
  color: var(--white-faded);
}

/*
.containerSingleText p, .containerSingleText h3 {
  grid-template-columns:minmax(200px, 800px) minmax(200px, 1fr);
  text-align: left;
}
*/

.top-nav {
  display: grid;
  align-items: center;
  background-color:  rgb(245, 245, 245);
  color: #FFF;
  height: 70px;
  padding: 1rem;
}

.menu {
  display: grid;
  grid-template-columns:auto auto auto auto auto 1fr;
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu a {
  color: black;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  z-index: 999;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
	
  .container {
    grid-template-columns:auto;
  }

  .container span {
    order: 2;
  }
  .container img {
    order: 1;
    width : 100%;
    height: auto;
  }

  .doubleText {
    grid-template-columns:1fr 1fr;
  }


  .menu-button-container {
    display: flex;
  }
  .menu {
    grid-template-columns:1fr;
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 35ms linear;
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 2em;
    transition: height 35ms linear;
  }
  
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-color: #FFF;
  }


}